
html
{ height: 100%;}


body
{ font: normal 90% Arial, Helvetica, sans-serif;
  background: #FFF;
  color: #000;
}

table
{ font: normal 95% Arial, Helvetica, sans-serif;
}

p
{ padding: 0 0 0 0;
  color: #1D1D1D;
  line-height: 1.25em;
  font-size: 100% }

img
{ border: 0;}

h1
{ font: normal 175% Arial, Helvetica, sans-serif;
  text-shadow: 0px -1px 0px #EEE;
  color: #098EFF;
//  letter-spacing: -1px; 
  margin: 0 0 10px 0;}

h2
{ font: normal 150% Arial, Helvetica, sans-serif;
//  color: #1D1D1D;
  }

h3
{ font: normal 125% Arial, Helvetica, sans-serif;
 // color: #1D1D1D;
  }


h4
{ font: normal 115% Arial, Helvetica, sans-serif;
  //color: #1D1D1D;
  }

h5
{ font: normal 107% Arial, Helvetica, sans-serif;
  //color: #1D1D1D;
  }

h6
{ font: normal 100% Arial, Helvetica, sans-serif;
 // color: #1D1D1D;
  }


a, a:hover
{ color: #1D1D1D;
  background: transparent;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}


    pre {
        font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
        font-size: 85%;
        line-height: 140%;
        white-space: pre;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
       
        
        background: #efefef; 
    }
    
    #contcode {
    border: 1px solid #bebab0;
         display: block;
        padding: .5em .5em .5em .5em;
        border: 1px solid #bebab0;
    }
    
     p.contcode {
        display: block;
        padding: .5em .5em .5em .5em;
        border: 1px solid #bebab0;
    }
    